.content {
  width: 40em;
  height: 22em;
  background-color: rgba(255, 255, 255, 0.2);
}

.content__header {
  width: 500.3px;
  height: 177.8px;
  font-family: Oswald;
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 0.8px;
  color: #ffffff;
  z-index: 2;
}
