.Mask {
  width: 100%;
  height: auto;
  padding: 35px;
  align-items: center;
  justify-content: center;
  margin-top: 102.2px;
  background-color: #f2f2f2;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f2f2f2 !important;
  box-shadow: none !important;
}

.Sea-Sensors-Stories {
  width: 596.3px;
  height: 112.5px;
  font-family: Oswald;
  font-size: 52px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #023256;
  margin-left: 10%;
}
