@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container-parent {
  display: flex;
  height: auto;
  flex-direction: column;
}
