@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Wire+One');

.main-container-parent {
  display: flex;
  height: auto;
  flex-direction: column;
  overflow: hidden;
}

.carousel .control-dots .dot {
  border-radius: 0;
  width: 8em;
  height: 0.3em;
}

.carousel .carousel-indicators li {
  position: relative;
  right: 34em;
}

.carousel {
  height: 786px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-item-prev,
.carousel-item-next {
  margin: 18em 2em 0 0;
  width: 1.250em;
  height:1.250em;
  opacity: 1;
}

.carousel-control-prev-icon {
  display: none !important;
}
.carousel-caption {
  right:0;
  left:0 !important;
  width:100%
}

.carousel .carousel-control-next-icon {
  background-image: none;
  background-color: #fff;
  padding: 2em;
  position: relative;
  top: 7em;
  left: 7.5em;
}

.carousel .carousel-control-next-icon::before {
  content: "\203A";
  color: #000;
  font-size: 2em;
  position: relative;
  bottom: 0.8em;
  right: 0.2em;
}

.arrow-left {
  transform: rotate(180deg);
}

.clicked > .carousel-control-next-icon {
  transform: rotate(180deg);
  filter: grayscale(100%);
}

.carousel .carousel-indicators li {
  width: 7.625rem !important;
  height: 0.25rem !important;
  cursor: pointer;
  border-radius: 0% !important;
  display: flex;
  align-items: flex-start;
}

.carousel-fade .carousel-item {
  transition: none !important;
}

.carousel-indicators{
    position: absolute;
    right: inherit !important;
    bottom: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    left: 42em !important;
    margin-left:auto !important;
    margin-right:auto !important;
}