.partner-parent {
  width: auto !important;
  height: 100% !important;
  background-color: #ffffff !important;
  padding-top:10%;
}

.partner-image {
  width: 450px;
  height: 400px;
  display: inline;
  margin-left: 20%;
}

.our-partners {
  width: 216.8px;
  height: 24px;
  opacity: 0.4;
  font-family: Oswald;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: 6px;
  color: #023256;
}

.big-thanks-text {
  width: 506.3px;
  height: 153px;
  font-family: Oswald;
  font-size: 52px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 0.7px;
  color: #023256;
}

.Sea-Sensors-is-heade {
  width: 600px !important;
  height: 306.8px !important;
  opacity: 0.6 !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 2.5 !important;
  letter-spacing: 0.7px !important;
  text-align: justify;
  color: #023256;
}
