text1Grid {
  width: 1440px !important;
  height: 8545px !important;
  background-color: #ffffff !important;
}

.What-is-Blast-Fishin {
  width: 495.9px;
  height: 153px;
  font-family: Oswald !important;
  font-size: 52px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13 !important;
  letter-spacing: 0.7px !important;
  color: #023256 !important;
  margin-top: 125px !important;
  margin-left: 123px !important;
}

.What-is-blast-fishin {
  width: 600.1px !important;
  height: 20em !important;
  opacity: 0.6;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 2.5 !important;
  letter-spacing: 0.7px !important;
  text-align: justify;
  color: #023256 !important;
  margin-top: 5em !important;
}
