@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.blast-size {
  display: flex;
  text-align: center;
  height: 615px;
  max-height: 615px;
  width: 100%;
}

.Blasts-Recorded {
  width: 543.8px;
  height: 102px;
  font-family: Oswald, sans-serif;
  font-size: 52px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #023256;
  margin-right: -4.5em;
}

.Blast-data-is-collec {
  width: 214px;
  height: 159px;
  opacity: 0.6;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 0.7px;
  text-align: justify;
  color: #023256;
  margin-left: auto;
}
.blast-size__text-left {
  display: flex;
  flex-direction: column;
}

.blast-size__text-left__1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
}

.blast-size__text-left__2 {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.recorded__blasts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transform: translateX(-386px);
}

.recorded__blasts__figures {
  width: 403.5px;
  font-family: DIN;
  font-size: 4.1em;
  font-weight: bold;
  font-style: normal;
  font-stretch: semi-condensed;
  letter-spacing: 1.6px;
  text-align: center;
  color: #023256;
}

.recorded__blasts__text {
  height: 69.8px;
  opacity: 0.6;
  font-family: Oswald, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 1.2px;
  text-align: center;
  color: #023256;
}

.blast {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 2em 0;
}

.blast .blast-intro,
.blast .blast-info {
  width: 80%;
  margin: 0 auto;
}

.blast .blast-info {
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-gap: 2em;
}

.blast .blast-grid.blast-image-info {
  position: relative;
  top: 1;
  bottom: 11em;
  right: 9em;
}

.svg-properties {
  justify-self: center;
}

.blast .blast-grid.blast-image-info .blast-grid-text {
  position: absolute;
  bottom: 15em;
  left: 11em;
  text-align: center;
}

.blast .blast-grid.blast-image-info .blast-grid-text p {
  text-align: center;
}
