.parentContainer {
  width: 100%;
  height: 615px;
  background-image: url('../../assets/topStory.png');
}

/* .text-grid{

} */

.SEA-SENSORS-TOP-STOR {
  width: 294px !important;
  height: 24px !important;
  font-family: Oswald !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.65 !important;
  letter-spacing: 3px !important ;
  color: #ffffff !important;
  margin-top: 223px !important;
  margin-left: 134px !important;
}

.The-effects-of-blast {
  width: 600px !important;
  height: 153px !important;
  font-family: Oswald !important;
  font-size: 35px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.13 !important;
  letter-spacing: 0.7px !important;
  color: #ffffff !important;
  margin-top: 0px;
}

.Lorem-ipsum-dolor-si {
  width: 480px !important;
  height: 219.8px !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 2.5 !important;
  letter-spacing: 0.7px !important;
  text-align: justify !important;
  color: #f9f8f8 !important;
  margin-top: 136.5px !important;
  margin-right: 120px !important;
}

.Rectangle {
  width: 292.5px !important;
  height: 45px !important;
  border: 3px #ffffff solid !important;
  padding-left: 1rem;
  box-shadow: 0 23px 60px 0 rgba(0, 0, 0, 0.05) !important;
}

.Rectangle-4 {
  width: 45px;
  height: 3px;
  transform: rotate(-90deg);
  background-color: #ffffff;
}

.READ-MORE {
  width: 106px;
  height: 24px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.2px;
  color: #ffffff;
}

.arrow {
  color: #ffffff !important;
}
